@using LibrosSalesianos.Models;
@using ClasesAlicanTeam.EN;
@{
    ViewBag.Title = "Cart";
}

<h3>Cart</h3>

<div>
    <div class="cartItems">
        <div class="tables">
            @{
                var cart = (ShoppingCart)Model;
                if (cart.Items.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Descripcion del libro</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Subtotal</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                    
                    var total = 0.0f;
                    foreach(var item in cart.Items)
                    {
                        @Html.Partial("_BookCartTable", item)
                        total += item.TotalPrice;
                    }
                    
                    <div class="summary" style="float:left">
                        <table style="margin:10px;">
                            <tr>
                                <td>Subtotal sin impuestos</td>
                                <td id="summaryTotalWithoutTax">@((total*100/118).ToString("0.00")) €</td>
                            </tr>
                            <tr>
                                <td>IVA (18%)</td>
                                <td id="summaryTotalTax">@((total*18/118).ToString("0.00")) €</td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>TOTAL</h2>
                                </td>
                                <td id="summaryTotal">
                                    <h2>@total.ToString("0.00") €</h2> 
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="checkout" style="margin-left: 2%;margin-top: 1%">
                        <a href="@Url.Action("Checkout","Shopping")"><img src="/Images/ordenar-ahora.png" alt="Ordenar ahora"/></a>
                    </div>
                 }
                 else
                 {
                    <p>Your cart is Empty!</p>
                 }
            }
        </div>
    </div>

</div>

</div>